@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Noto+Serif&family=Open+Sans:wght@800&family=Poppins:wght@400;500;700&family=Sora:wght@100&display=swap');
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Serif', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Sora', sans-serif;  
}